/*通用样式 开头*/
* {
    font-family: "Helvetica Neue", Helvetica, Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;
    font-size: 16px;
}

ul {
    list-style: none;
}

.error {
    color: red;
}

.black {
    color: #000;
}

.no-text-decoration {
    text-decoration: none;
}

.no-text-decoration:hover {
    text-decoration: none;
}

.user-avator {
    border: 2px solid #C9D6E5;
    border-radius: 100%;
    max-width: 40px;
    margin-right: 10px;
    margin-left: 0;
    box-shadow: none;
}

.text-article {
    font-size: 16px;
    letter-spacing: 1px;
    word-spacing: 3px;
}

.text-article-body {
    max-height: 160px;
    overflow: hidden;
}

.split {
    color: #ccc;
}

input.app-date-input {
    background: #fff !important;
    cursor: pointer !important;
}

.reply-content {
    margin-left: 38px;
    margin-top: 10px;
    font-size: 15px;
}

.reply-content img {
    border: 0;
    border-radius: 0;
    max-width: 100%;
}


/*通用样式 结尾*/

/*边栏样式 开头*/
.sidebar-list {
    margin-left: 0;
}

.sidebar-list > li {
    padding: 5px 0 5px 15px;
    margin-bottom: 1px;
}

.sidebar-list > li.active {
    background: #F7F7F7;
    font-weight: bold;
}

.sidebar-list > li:hover {
    background: #F7F7F7;
}

.sidebar-list > li:hover > a {
    text-decoration: none;
}

.sidebar-list > li > a {
    color: #000;
    font-size: 15px;
}

/*边栏样式 结尾*/

/*文章列表样式 开头*/
.article-action {
    clear: both;
    border-top: 1px solid #ddd;
}

.article-buttons {
    padding: 5px 10px;
}

.article-buttons > a {
    display: inline-block;
    width: 80px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    color: #5d7895;
}

.article-buttons > a:hover {
    text-decoration: none;
    border-radius: 3px;
    background: #FdFdFd;
}

.article-back {
    margin-right: 15px;
}

/*文章列表样式 结尾*/

/*分页组件 开头*/
.empty {
    padding: 40px 0px;
    font-size: 14px;
    text-align: center;
}

.page-info {
    color: #000 !important;
    background: #fff !important;
    cursor: default;
}

.page-info:hover {
    background: #fff !important;
}

/*分页组件 结尾*/

/*登录界面 开头*/
.login-actions > div > a {
    display: block;
    height: 38px;
    line-height: 38px;
    font-size: 15px;
}

.login-actions > div > .go-register {
    text-align: right;
    margin-right: 12px;
}

/*登录界面 结尾*/

/*附件列表样式*/
.attachments > li:hover > div {
    background: #e5e5e5;
}
.attachments > li > div {
    height: 40px;
    line-height: 40px;
    font-size: 15px;
}

/*markdown*/
.markdown ul {
    list-style-type: disc;
}
.markdown ol {
    list-style-type: decimal;
}
.markdown {
    line-height: 1.75;
}