<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kangyonggan.mapper.AttachmentMapper">
    <resultMap id="BaseResultMap" type="com.kangyonggan.model.Attachment">
        <!--
          WARNING - @mbggenerated
        -->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="article_id" jdbcType="BIGINT" property="articleId"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="path" jdbcType="VARCHAR" property="path"/>
        <result column="type" jdbcType="VARCHAR" property="type"/>
        <result column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="is_deleted" jdbcType="TINYINT" property="isDeleted"/>
        <result column="created_time" jdbcType="TIMESTAMP" property="createdTime"/>
        <result column="updated_time" jdbcType="TIMESTAMP" property="updatedTime"/>
    </resultMap>

    <insert id="insertAttachments">
        INSERT INTO
        attachment
        (article_id, name, path, type, user_id, created_time, updated_time)
        VALUES
        <foreach collection="files" item="file" separator=",">
            (#{articleId}, #{file.name}, #{file.path}, #{file.type}, #{userId}, #{now}, #{now})
        </foreach>
    </insert>

    <update id="updateAttachments">
        UPDATE attachment SET article_id = #{articleId} WHERE id IN
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </update>

    <delete id="deleteAttachmentsOfInvalid">
        DELETE FROM attachment
        <where>
            article_id NOT IN
            (SELECT id FROM article)
        </where>
    </delete>

</mapper>