/*少女粉 默认*/
.skin-bg {
    background: #FFC0CB !important;
}

.skin-color {
    color: #FFC0CB !important;
}

.skin-inverse {
    color: #333 !important;
}

.skin-border {
    border-color: #FFC0CB !important;
}

.skin-btn {
    background: #FFC0CB !important;
    border-color: palevioletred !important;
    color: #333 !important;
}

.skin-btn:hover {
    background: #ddc0cb !important;
    border-color: #a87093 !important;
    color: #333 !important;
}

.skin-a {
    color: #333 !important;
    text-decoration-color: #333 !important;
}

.skin-hover:hover {
    text-decoration: none !important;
    color: #333 !important;
    background-color: #FFC0CB !important;
}

.pagination > li > a {
    border-color: #FFC0CB !important;
    color: #333;
}

.pagination > li.active > a {
    background: #FFC0CB !important;
}

.pagination > li:hover > a {
    background: #FFC0CB;
    color: #333;
}